<div class="nav-bar-middle">
    <li class="navigate-wraper">
        <div class="btns" (click)="navigate($event)">
            <span id="previous">
                <fa-icon class="icon" [icon]="iconLeft"></fa-icon>
            </span>
        </div>
        <div class="btns" (click)="navigate($event)">
            <span id="next">
                <fa-icon [icon]="iconRight"></fa-icon>
            </span>
        </div>
    </li>
    <li class="month-title">{{title}}</li>
    <div class="btns" style="font-size: 15px; margin-left: 5px;" *ngIf="show" (click)="showCalendar()">
        <span id="down">
            <fa-icon [icon]="iconDown"></fa-icon>
        </span>
    </div>
    <div class="widget-calendar"  (mousedown)="stopPopagate($event)" *ngIf="showWidget" @showHide>
        <widget-calendar></widget-calendar>
    </div>
</div>