<div class="container">
    <div class="dates-wrapper"> 
        <div class="date-cell"  *ngFor="let date of dates let i = index">
            <span class="days">{{weekdays[i]}}</span>
            <span #d class="dates" 
                 [class.curr-date]="isToday(date)"
                 (click) ='onSelect($event)'>
                 {{date}}
            </span>
          <div *ngFor="let e of allCalendars">
              <div class="events" *ngIf="e.date == date" [ngStyle]="{'color': e.color}">
                <span class="events-name">{{e.name}}</span>
                <span> {{e.start}}</span>
                <span> {{e.end}}</span>
             </div> 
           
          </div>
        </div>
    </div>
</div>
