.btn {
    border: solid 1px #d1cdcd;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 6px;
    cursor: pointer;
}
.btn:active, .container-items:hover{
    background-color: #b6b0b0;
}
.btn:hover {
    background-color: #DCDCDC;
}
.container {
    margin-top: 10px;
    position: absolute;
    width: 17%;
    height: 140px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px 4px #e2dada;
    z-index: 1;
}
.container-items:active{
    background: rgb(223,225,228);
    background: linear-gradient(90deg, rgba(223,225,228,1) 23%, rgba(173,157,157,1) 51%, rgba(110,116,116,0.011642156862745057) 72%);
}
.container-items {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    overflow: hidden;
    cursor: pointer;
}
.days{
    width: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #70757a;
}
.show{
    width: 17%;
    height: 140px;
    top: 50px;
}
.hide{
    width: 0%;
    height: 0px;
    top: 40px;
}

