/* You can add global styles to this file, and also import other style files */

:root {
    --default-with: 97%;
    --default-left: 4%
}

* {
    box-sizing: border-box;
    font-family: helvetica;
}

.selected {
    background-color: #1876F2;
    color: white;
}

.curr-date {
    background-color: #1967D2 !important;
    color: white;
    border-radius: 30px;
    width: 60px;
}

.container {
    display: flex;
    border-top: 1px solid #CED0D4;
    padding: 25px;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.header-calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 14px;
    color: #B3B4B6;
    position: relative;
    bottom: 20px;
}

.days {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

.dates-wrapper {
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    overflow: hidden scroll;
    position: relative;
    padding-top: 10px;
}

.dates-wrapper::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.dates-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.dates-wrapper::-webkit-scrollbar-thumb {
    background-color: #dadde0;
    border-radius: 10px;
}


.date-wrap {
    border-bottom: 1px solid #CED0D4;
    display: flex;
    align-items: flex-end;
    gap: 9px;
}

.date-format {
    font-size: 12px;
    margin-bottom: 9px;
}

.date {
    font-size: 38px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: #050505;
}

.date-cell {
    display: flex;
    width: 100%;
    border: solid 1px #e1dcdc;
    justify-content: flex-start;
    min-height: 60px;
    position: relative;
    border-left: none;
}

.btns {
    cursor: pointer;
    color: grey;
    width: 36px;
    padding: 5px;
    border-radius: 27px;
    font-size: 23px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px #e1dcdc;
    border-top: solid 1px #e1dcdc;
    min-height: 60px;
}

.time {
    display: flex;
    font-size: 11px;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 16px;
}

.time-items {
    bottom: 8px;
    position: relative;
    background-color: white;
    width: 43px;
    text-align: center;
}

.sep {
    width: 96%;
    position: absolute;
    background: #ebe5e5;
    height: 1.5px;
    left: 40px;
}

.date {
    padding: 9px;
}

.events {
    padding-left: 8px;
    padding-top: 6px;
    border: solid 0.2px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    position: absolute;
    width: 96%;
    left: 61px;
    z-index: 1;
}

.events-name {
    word-wrap: break-word;
    display: block;
    font-weight: bold;
    margin: 0px 5px 2px 0;
}

.horiz-line {
    background: #e1dcdc;
    width: 1px;
    position: absolute;
    left: 87px;
    top: 100px;
    bottom: 24px;
}

.draging {
    z-index: 999 !important;
    width: 96% !important;
    left: 4% !important;
}

.smallEvent {
    display: flex;
    align-items: center;
}

.time-ticking {
    position: absolute;
    width: 96%;
    display: flex;
    z-index: 98;
    left: 56px;
    top: 5px;
    align-items: center;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: red;
}

.line {
    width: 100%;
    height: 2px;
    background: red;
}

.active {
    box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%), 0px 3px 5px -1px rgb(0 0 0 / 20%);
}