<div class="container">
    <div class="horiz-line"></div>
    <div class="date-wrap">
        <span class="date-format">GMT(+02)</span>
        <div class="date">
            <div class="days">{{weekdays[currDay.getDay()]}}</div>
            <div class="date" [class.curr-date]="isToday(currDay.getDate())">
              {{currDay.getDate()}}
            </div>
        </div>
    </div> 
    <div #datesWrapper class="dates-wrapper"> 
        <div class="date-cell" *ngFor="let t of time let i = index ">
            <span class="time-items" >{{t.time}}</span>      
        </div>
        <div id="{{i}}" class="events" *ngFor="let e of allCalendars let i = index"
           (mousedown)="onMouseDown($event)"
           [ngStyle]="{
                    'background': e.color,
                    'height': e.duration + 'px',
                    'top': (e.top - 50) + 'px',
                    'width': e.width ,
                    'z-index': e.zIndex,
                    'left': e.left
                   }">
            <span class="events-name">{{e.name}}</span>
            <span> {{e.start}}-{{e.end}}</span>      
        </div>
    </div>    
</div>