/* You can add global styles to this file, and also import other style files */

:root{
    --default-with : 97%;
    --default-left : 4%
}

* {
    box-sizing:border-box;
    font-family: helvetica;
}
.selected {
    background-color: #1876F2;
    color: white;
}
.curr-date {
    background-color: #1967D2 !important;
    color: white;
    border-radius: 30px;
}
.container {
    display: flex;
    border-top: 1px solid #CED0D4;
    padding: 25px;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.header-calendar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.days-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 14px;
    color: #B3B4B6;
    position: relative;
    bottom: 20px;
}
.days{
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}
.dates-wrapper {
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    overflow-x: scroll;
    height: 80vh;
    position: relative;
}
.dates-wrapper > div:nth-child(1){
    margin-top: 10px;
}
.dates-wrapper::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    
}
 .dates-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
}

.dates-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
} 
.date-wrap {
    border-bottom: 1px solid #CED0D4;
    display: flex;
    align-items: flex-end;
    gap: 9px;
} 
.date-format {
    font-size: 12px;
    margin-bottom: 9px;
}
.date {
    font-size: 38px;
    display: flex;
    width: min-content;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 24px;
    font-weight: 500;
    color: #050505;
}
.date-cell {
    display: flex;
    width: 100%;
    border: solid 1px #e1dcdc;
    justify-content: flex-start;
    min-height: 60px;
    position: relative;
    border-left: none;
}

.btns {
    cursor: pointer;
    color: grey;
    width: 36px;
    padding: 5px;
    border-radius: 27px;
    font-size: 23px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-time {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px #e1dcdc;
    border-top: solid 1px #e1dcdc;
    min-height: 60px;
}
.time {
    display: flex;
    font-size: 11px;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 16px;
}
.time-items   {
    bottom: 8px;
    position: relative;
    background-color: white;
    width: 43px;
    text-align: center;
}

.sep{
    width: 96%;
    position: absolute;
    background: #ebe5e5;
    height: 1.5px;
    left: 40px;
}
.date{
     padding: 9px;
}
/* .events-wrap {
    margin-left: 19px;
} */
.events {
    padding-left: 5px;
    border: solid 0.2px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    position: absolute;
    width: 97%;
    left: 4%;
    z-index: 1;
}
.events-name{
    word-wrap: break-word;
    display: block;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.horiz-line {
    background: #e1dcdc;
    width: 1px;
    position: absolute;
    left: 87px;
    z-index: 100;
    top: 100px;
    bottom: 45px;
}
