<div class="box-info-user" #dialog class="container" (mouseover)="onMouseOver()"
>
    <div class="content">
        <div class="content-icon"><img src="../../assets/icons/{{userInfo.icon}}" alt=""></div>
        <div class="content-info">
            <span class="content-info-title">{{userInfo.name}}</span>
            <span class="additional-info">{{userInfo.email}}</span>
        </div>
        <div class="content-icons"><svg width="30" height="30" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe "><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M20.41 4.94l-1.35-1.35c-.78-.78-2.05-.78-2.83 0L3 16.82V21h4.18L20.41 7.77c.79-.78.79-2.05 0-2.83zm-14 14.12L5 19v-1.36l9.82-9.82 1.41 1.41-9.82 9.83z"></path></svg></div>
    </div>
    <div class="footer">
        <div class="btn">Open detailed view</div>
        <div class="icons"><svg width="30"  height="30" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe GGZtCb"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"></path></svg></div>
        <div class="icons"><svg width="30"  height="30" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe "><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H4V4h16v12z"></path></svg></div>
        <div class="icons"><svg width="30"  height="30" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe GGZtCb"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M18 10.48V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-4.48l4 3.98v-11l-4 3.98zm-2-.79V18H4V6h12v3.69z"></path></svg></div>
        <div class="icons"><svg width="30"  height="30" viewBox="0 0 24 24" class="NSy2Hd cdByRd RTiFqe GGZtCb"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10z"></path><path d="M14.5 13a2.5 2.5 0 0 0 0 5 2.5 2.5 0 0 0 0-5z"></path></svg></div>
    </div>
</div>
