<app-header
  (openAside)="openAside()">
</app-header>
<div class="main">
  <aside #aside class="sidebar">
      <div class="big-btn">
        <svg width="36" height="36" viewBox="0 0 36 36"><path fill="#34A853" d="M16 16v14h4V20z"></path><path fill="#4285F4" d="M30 16H20l-4 4h14z"></path><path fill="#FBBC05" d="M6 16v4h10l4-4z"></path><path fill="#EA4335" d="M20 16V6h-4v14z"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
        <span>Create</span>
      </div>
    <widget-calendar (sentCurrDate)="setDate($event)"></widget-calendar>
    <div class="dropdown">
      <div class="mainmenubtn" (click)="showDropdownMenu($event)">My calendars
        <fa-icon [icon]="child2.style.display == 'block' ? iconUp : iconDown"></fa-icon>
      </div>
      <div #child2 class="dropdown-child">
        <div class="holidays-wraper">
          <input style="background:green;" #input type="checkbox" value="Dragan" (click)="onClick($event)">
          <span>Dragan Calendar</span>
        </div>
        <div class="holidays-wraper">
          <input style="background:  red;" #input type="checkbox" value="Ivan" (click)="onClick($event)">
          <span>Ivan Calendar</span>
       </div>
       <div class="holidays-wraper">
        <input style="background:  blue;" #input type="checkbox" value="Stamat" (click)="onClick($event)">
        <span>Stamat Calendar</span>
     </div>
      </div>
    </div>
      <div class="dropdown">
        <div class="mainmenubtn" (click)="showDropdownMenu($event)">Other calendars
          <fa-icon [icon]="child.style.display == 'block' ? iconUp : iconDown"></fa-icon>
        </div>
        <div #child class="dropdown-child">
          <div class="holidays-wraper">
            <input #input type="checkbox" value="Holidays" (click)="onClick($event)">
            <span>Holidays in Bulgaria</span>
          </div>
        </div>
      </div>
  </aside>
  <div class="body">
   <router-outlet></router-outlet> 
  </div>
</div>