/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300&family=Roboto:wght@100;300;400&display=swap');

* {
    box-sizing:border-box;
    font-family: Open Sans,Roboto,Arial,sans-serif;
    overscroll-behavior: none;
}

.main {
    display: flex;
    margin-top: 10px;
}
.body {
    width: 100%;
   
}
.sidebar {
    margin-top: 15px;
    display: flex;
    width: 0;
    flex-direction: column;
    overflow-x: hidden;
    transition: 0.3s;
}

.holidays-wraper {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.big-btn {
    border-bottom: solid 3px #c9c4c4;
    border-top: solid 2px #e5dada;
    border-left: solid 2px #ebe8e8;
    border-right: solid 2px #f1ecec;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    border-radius: 35px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    color: #70757a;
    align-items: center;
}

.big-btn:hover {
    box-shadow: 0px 7px 20px 0px #dbd2d2;
    background: #F6FAFE;
}
img {
   max-width: 100%;
}
.big-btn-logo {
    width: 20px;
    transform: rotate(45deg);
}

.mainmenubtn {
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    color: grey;;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
}

.mainmenubtn:hover {
    background-color: rgb(226, 218, 218)
}

.mainmenubtn:active {
    background-image:  linear-gradient(to right, rgba(27, 27, 27, 0), rgb(157, 155, 155));
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    min-width: 200px;
}

input[type='checkbox']{
    position: relative;
    width: 21px;
    height: 21px;
    appearance: none;
    border-radius: 4px;
    font-size: 0.8em;
  }

  input[type='checkbox']::before {
    position: absolute;
    content: "";
    left: 3px;
    top: 1.5px;
    width: 14.5px;
    height: 17px;
    background-color: white;
  
  }
  input[type='checkbox']:checked:before {
      display: none;
  } 

  
  input[type='checkbox']:checked:after {
    position: absolute;
    content: "";
    left: 7px;
    top: 1px;
    width: 4px;
    height: 11px;
    border: solid white;
    border-width: 0 4px 4.5px 0;
    transform: rotate(45deg);
    color: white;
    transition: 0.5s all;
  }

.events {
    border: solid 0.2px;
    border-radius: 3px;
    background: white;
    position: relative;
}

.toolTip {
    position: relative;
    display: none;
    justify-content: center;
    top: 4px;
}
//tooltip
 .toolTip:after {
    content: attr(curr-date);
    width: max-content;
    position: absolute;
    border: #616261;
    display: flex;
    color: white;
    background-color: #616261;
    font-size: 13px;
    padding: 6px;
    z-index: 99;
    transition: top 2s, width 2s;
}


  